{% extends "base.html" %}

{% block base %}

<div id="app">
    <div class="container ">
        <div class="col-md-6 mx-auto">
            <h3>Welcome to Quiz</h3>
            <div v-for="question in questions">
                <hr>
                <p>[[question.question]]</p>
                <div class="" v-for="answer in question.answers">
                    <input class="form-check-input" @change="checkAnswer($event, question.uid)" :value="answer.answer"
                        type="radio" :name="question.uid" :id="question.uid" />
                    <label class="form-check-label" >
                        [[answer.answer]]
                    </label>
                </div>
            </div>
            <button @click="submitQuiz">Submit</button>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script>

    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                category: '{{category}}',
                questions: [],
                totalScore: 0,
            };
        },
        methods: {
            getQuestions() {
                var _this = this
                fetch(`/quiz/api/get-quiz/?category=${this.category}`)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        _this.questions = result.data
                    })
            },
            checkAnswer(event, uid) {
                this.questions.map(question => {
                    score = 0
                    console.log(question.answers)
                    answers = question.answers
                    for (var i = 0; i < answers.length; i++) {
                        if (answers[i].answer == event.target.value) {
                            if (answers[i].is_correct) {
                                score = score + 1
                                this.totalScore += 1;
                                alert("Your answer is correct...")
                            }
                            else {
                                alert("Sorry, your answer is incorrect...")
                            }
                        }
                    }
                })
                console.log(event.target.value, uid)
            },
            submitQuiz() {
                // Display the total score when the submit button is clicked
                alert(`Your Total Score: ${this.totalScore}`);
            },

        },
        created() { // Life-cyccle Method
            this.getQuestions()
            console.log('Page Loaded....')
        }
    });

    // app.mount('#app');




</script>
{% endblock base %}