{% extends "base.html" %}

{% block base %}

<h1>{{ question.title }}</h1>
<p>{{ question.content }}</p>
<p>Posted by: {{ question.user.username }} | {{ question.created_at }}</p>

<h2>Answers</h2>
<ul>
    {% for answer in answers %}
    <li>{{ answer.content }}</li>
    <p>Posted by: {{ answer.user.username }} | {{ answer.created_at }}</p>
    {% empty %}
    <li>No answers available.</li>
    {% endfor %}
</ul>

<h3>Post an Answer</h3>
<form method="post" action="{% url 'post_answer' question.id %}">
    {% csrf_token %}
    <textarea name="content" rows="4" cols="50" name="content"></textarea><br>
    <input type="submit" class="btn btn-primary" value="Submit Answer">

</form>

<a href="{% url 'dicussion' %}">Back to Questions</a>

{% endblock base %}