{% extends "base.html" %}

{% block base %}

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Our Services</p>
                <h3 class="fw-bold">What we can do for you</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5"><img class="rounded img-fluid shadow" src="/media/assets//img/products/home_3.jpeg">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">Online Assessment and Submission</h5>
                    <p class="text-muted mb-4">On our portal the student can submit the assignments online rather than
                        physical assignment which results in time saving of students and also they can get their
                        performance check via portal.</p><button class="btn btn-primary shadow" type="button">Learn
                        more</button>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow"
                    src="/media/assets//img/products/img_3d_model.png"></div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">Interactive 3d Models</h5>
                    <p class="text-muted mb-4">The Student can view the 3d models of various physics concept through
                        which practically things will become more clear.&nbsp;</p><button class="btn btn-primary shadow"
                        type="button">Learn more</button>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5"><img class="rounded img-fluid shadow" src="/media/assets//img/products/forum.webp">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">Online Doubt Discussion Forum</h5>
                    <p class="text-muted mb-4">In this forum, student can ask any question and the faculty or other
                        students can answer the question for the same. Which makes, doubt asking more convenient.</p>
                    <button class="btn btn-primary shadow" type="button">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock base %}